.breadcrum {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 170px;
    text-transform: capitalize;
    margin-bottom: -30px;
}


@media(max-width: 1280px){
    .breadcrum{
        margin: 20px 20px;
        margin-bottom: -20px;
        font-size: 16px;
    }
}


@media(max-width: 1024px){
    .breadcrum{
        margin: 20px 20px;
        margin-bottom: -20px;
        font-size: 14px;
    }
}

@media(max-width: 800px){
    .breadcrum{
        margin: 20px 20px;
        margin-bottom: -20px;
        font-size: 13px;
    }
}


@media(max-width: 500px){
    .breadcrum{
        margin-bottom: 20px;
        font-size: 11px;
        gap: 5px;
        margin-top: 12px;
    }
}