.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 27px;
}

.footer-logo {
   display: flex;
   align-items: center;
   gap: 30px;
}

.footer-img {
    height: 66px;
    width: 66px;
}

.footer-logo p {
    color: #383838;
    font-size: 46px; 
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.footer-social-icons {
    display: flex;
    gap: 24px;
}

.socialmedia-logo {
    padding: 10px;
    padding-bottom: 6px;
    cursor: pointer;
}


.logo-size {
    height: 66px;
    width: 66px;
    border-radius:  12px;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 500;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 12px;
    height: 3px;
    background: #1a1a1a; 
}


@media(max-width: 1280px) {
    .footer-logo p {
        font-size: 36px;
    }

    .logo-size {
        height: 46px;
        width: 46px;
    }

    .footer-links {
        font-size: 22px;
        gap: 40px;
    }

}


@media(max-width: 1024px) {
    .footer-logo p {
        font-size: 33px;
    }

    .logo-size {
        height: 43px;
        width: 43px;
    }

    .footer-links {
        font-size: 20px;
        gap: 40px;
    }

    .footer-copyright hr {
        width: 65%;
        height: 2px;
    }

    .footer-img {
        height: 50px;
        width: 50px;
    }

    .footer-copyright {
        font-size: 21px;
    }
}



@media(max-width: 800px) {
    .footer {
     margin-top: 20%;
     height: 70vh;
    }

    .footer-logo p {
        font-size: 27px;
    }

    .logo-size {
        height: 38px;
        width: 38px;
    }

    .footer-links {
        font-size: 18px;
        gap: 35px;
    }

    .footer-copyright hr {
        width: 50%;
        height: 2px;
    }

    .footer-img {
        height: 50px;
        width: 50px;
    }

    .footer-copyright p{
        font-size: 19px;
    }
}


@media(max-width: 500px){
    .footer {
        margin-top: -50px;
        height: 50vh;
       }
    
       .footer-logo p {
        font-size: 23px;
    }
   
    .footer-links{
        gap: 8px;
        font-size: 16px;
        margin-left: -35px;
    }

    .logo-size {
        height: 34px;
        width: 34px;
    }

    .footer-copyright p{
        font-size: 15px;
        gap: 20px;
    }

    .footer-logo {
       margin-top: 65px;
    }
}